#container-main{
      height: 100vh;
      background-image: url('images/ustp-logo.jpg');
	background-size: 600px;
      background-repeat: no-repeat;
      background-position: left;
  }



